<header style="margin-bottom: 5px">
  <div class="container">
    <a routerLink="/" class="logo">Food Mine!</a>
    <nav>
      <ul>
        <li *ngIf="!user.name">
          <a routerLink="/register">Register</a>
        </li>
        <li *ngIf="!user.name">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="user.name" class="menu-container">
          <a routerLink="/dashboard">{{ user.name }}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart">
            Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
