.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.details {
  width: 28rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

button {
  width: 70px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 100rem;
  border: 0;
  opacity: 0.8;
  transition: transform 0.4s;
}

button:hover {
  opacity: 1;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
}
