.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.details {
  width: 28rem;
}

form {
  margin-top: 3rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #e72929;
  font-weight: bold;
}

.error {
  text-align: center;
  color: red;
  font-size: 1.2rem;
}